.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  margin-top: 25px;
}

.total h6 {
  font-size: 20px;
  color: var(--purplish-blue);
}
.total span {
  color: var(--cool-gray);
}
.textRight {
  text-align: right;
}
.table {
  background-color: var(--magnolia);
  padding: 20px;
  border-radius: var(--br);
}
.table tr td {
  padding-block: 5px;
  color: var(--marine-blue);
}
/* first row styling */
.table tr:nth-child(1) td {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-gray);
}
.table tr:nth-child(1) td {
  font-weight: 700;
  color: var(--marine-blue);
}
.table tr:nth-child(2) td {
  padding-top: 15px;
}
.table tr td::first-letter {
  text-transform: uppercase;
}

.changePlanBtn {
  color: var(--cool-gray);
  font-weight: normal;
  text-decoration: underline;
}
