.addonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addon {
  border: 1px solid var(--purplish-blue);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: var(--br);
}
.active {
  background-color: var(--magnolia);
}
.addon div {
  flex-grow: 1;
}
.addon label {
  position: relative;
}

span.checkbox {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border: 1px solid var(--cool-gray);
  border-radius: 5px;
  position: relative;
}
span.checkbox.checked {
  background-color: var(--purplish-blue);
}
span.checkbox.checked::after {
  content: "";
  background: url("/public/icon-checkmark.svg") center/15px no-repeat;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.addon h6 {
  color: var(--marine-blue);
  font-size: 18px;
}
.addon p {
  color: var(--cool-gray);
}
.addon span {
  color: var(--purplish-blue);
}

@media only screen and (max-width: 576px) {
  .addon {
    padding: 15px;
    gap: 15px;
  }

  .addon h6 {
    font-size: 16px;
  }
  .addon p,
  .addon span {
    font-size: 14px;
  }
}
