@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --ff: "Ubuntu", sans-serif;
  --br: 10px;
  --br-sm: 5px;
  --transition: all 300ms ease-in-out;
}

body {
  background-color: var(--magnolia);
  font-family: var(--ff);
}
#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  min-height: 585px;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  background-color: var(--white);
  padding: 15px;
  border-radius: var(--br);
  display: flex;
}
ol {
  padding-left: 0;
  list-style: none;
}
a {
  cursor: pointer;
}
table {
  width: 100%;
}

aside {
  background: url("/public/bg-sidebar-desktop.svg") center/cover no-repeat;
  border-radius: inherit;
  padding: 30px;
  flex-grow: 1;
  max-width: 255px;
}
aside ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main {
  margin-inline: auto;
  padding-block: 30px;
  width: 100%;
  max-width: 500px;
}
.header {
  color: var(--marine-blue);
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}
.para {
  margin-bottom: 30px;
  color: var(--cool-gray);
  line-height: 1.3;
}

.form-group {
  margin-bottom: 15px;
}
.form-control,
.form-label {
  display: inline-block;
  width: 100%;
  font-family: var(--ff);
  color: var(--marine-blue);
}
.form-label {
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid var(--cool-gray);
  padding: 10px 15px;
  border-radius: var(--br-sm);
  margin-bottom: 5px;
  font-weight: 500;
}
.form-control::placeholder {
  color: var(--cool-gray);
  font-weight: 500;
}
.btn {
  padding: 10px 20px;
  color: var(--white);
  font-weight: 400;
  border-radius: var(--br);
}
.btn-next {
  background-color: var(--marine-blue);
  margin-left: auto;
}
.btn-confirm {
  background-color: var(--purplish-blue);
}
.btn-back {
  color: var(--cool-gray);
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.error {
  color: red;
}
